# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# Logs y reportes de crash
*.log
hs_err_pid*
replay_pid*

# === Backend: Java / Maven / IntelliJ ===

# Directorio de compilación de Maven/Gradle
target/

# Archivos de configuración de IntelliJ
.idea/
*.iml
*.iws

# Archivos compilados y paquetes
# (Aunque 'target/' suele cubrir esto, es bueno tenerlos explícitos)
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# === Frontend: Node.js / Vue.js ===

# Dependencias (carpeta gigante)
node_modules/

# Directorio de build de producción
dist/

# Archivos de entorno (contienen secretos)
.env
.env.*

# Logs de NPM/Yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*